:root {
    --purple: #5741e7;
    --light-purple: #6c5be1;
}

.stripe_background {
    background: repeating-linear-gradient(
            45deg,
            var(--light-purple),
            var(--light-purple) 10px,
            var(--purple) 10px,
            var(--purple) 20px
    );
}

body {
    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
}

.sidebar_image {
    display: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20%;
    }
}

.circle_overflow {
    position: absolute;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5px;
     h1 {
         font-size: 2rem;
     }
}

.image_label {
    cursor: pointer;

    border-radius: 15px;
    padding: 50px 75px;

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.queue {
    width: 100%;
    max-width: 394px;
    max-height: 100%;

    overflow: scroll;

    border: 3px solid var(--purple);
    border-radius: 15px;

    .image_wrapper {
        display: flex;
        justify-content: space-between;

        padding: 15px;
        height: 110px;

        border-bottom: 1px solid var(--purple);
    }

    .image_wrapper:last-child {
        border: none;
    }
}

.error {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.remove {
    display: flex;
    align-items: center;

    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;

    background: rgb(255,0,0);
    background: linear-gradient(50deg, rgba(255,0,0,1) 0%, rgba(255,139,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image_input {
    display: none;
}

.image_demo {
    opacity: 0;
    overflow: hidden;
    max-height: calc(100% - 165px);
    transition: opacity 0.3s ease-out;
    border-radius: 15px;
}

.visible {
    opacity: 1;
}

.upload_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 100%;

    height: 100%;
    z-index: 1;

    padding-bottom: 25px;
    padding-top: 25px;

    [type=submit] {
        font-size: 1.4rem;
        padding: 5px 10px;
        border-radius: 15px;
        border: none;
        color: white;
    }
}

@media screen and (min-width: 600px) {
    .upload_image {
        width: 600px;
    }

    .sidebar_image {
        display: block;
        width: 800px;
        height: 100vh;
    }

    .circle_overflow {
        display: flex;
        width: 250px;
        height: 110vh;

        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        left: 0;
        background: var(--background);
        transform: translateX(-50%);
    }

    .content {
        width: fit-content;
        position: relative;
    }
}